<html>
    <head>
    </head>
    <body>
    {{test}}
    <br>
    <a href="/csv-form">csv-form</a>
    <form action="auth" method="post">
        <input type="text" name="name" value="name">
        <input type="submit" value="Login">
    </form>
    </body>
</html>